<!DOCTYPE html>
<html>
<head>
  <title>Silly Twitter Bios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Silly Twitter Bios" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://mytwitterbio.herokuapp.com" />
  <meta property="og:image" content="http://mytwitterbio.herokuapp.com/assets/defaultavatarblue-d66b99774079a4218ee7a34a48a4e343.jpg" />
  <meta property="og:site_name" content="Silly Twitter Bios" />
  <meta property="fb:admins" content="100000194351905" />

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>

</body>
</html>
